<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - StackFlow</title>

  <environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
  </environment>
  <environment exclude="Development">
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
      asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-fallback-test-class="sr-only"
      asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
  </environment>

  <link href="https://cdn.boldreports.com/5.3.8/content/material/bold.reports.all.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!--Render the gauge item. Add this script only if your report contains the gauge report item. -->
  <script src="https://cdn.boldreports.com/5.3.8/scripts/common/ej2-base.min.js"></script>
  <script src="https://cdn.boldreports.com/5.3.8/scripts/common/ej2-data.min.js"></script>
  <script src="https://cdn.boldreports.com/5.3.8/scripts/common/ej2-pdf-export.min.js"></script>
  <script src="https://cdn.boldreports.com/5.3.8/scripts/common/ej2-svg-base.min.js"></script>
  <script src="https://cdn.boldreports.com/5.3.8/scripts/data-visualization/ej2-lineargauge.min.js"></script>
  <script src="https://cdn.boldreports.com/5.3.8/scripts/data-visualization/ej2-circulargauge.min.js"></script>

  <!--Render the map item. Add this script only if your report contains the map report item.-->
  <script src="https://cdn.boldreports.com/5.3.8/scripts/data-visualization/ej2-maps.min.js"></script>

  <script src="https://cdn.boldreports.com/5.3.8/scripts/common/bold.reports.common.min.js"></script>
  <script src="https://cdn.boldreports.com/5.3.8/scripts/common/bold.reports.widgets.min.js"></script>

  <!--Render the chart item. Add this script only if your report contains the chart report item.-->
  <script src="https://cdn.boldreports.com/5.3.8/scripts/data-visualization/ej.chart.min.js"></script>

  <!-- Report Viewer component script-->
  <script src="https://cdn.boldreports.com/5.3.8/scripts/bold.report-viewer.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a asp-page="/Index" class="navbar-brand">StackFlow</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/deposit">Depositar saldo</a></li>
          <li><a href="/stock">Ações</a></li>
          <li><a href="/stock/userstocks">Minhas Ações</a></li>
          <li><a href="/user">Usuarios</a></li>
          <li><a href="/transaction/report">Extrato</a></li>
        </ul>
        @if (this.Context.Session.Get("UserName") != null)
        {
          <ul class="nav navbar-nav" style="float:right !important">
            <li><a asp-page="/Index">@(this.Context.Session.GetString("UserName"))</a></li>
            <li>
              <a asp-page="/Stock">Saldo disponível: R$@(Double.Parse(Context.Session.GetString("UserFounds")))</a>
            </li>
          </ul>
        }
      </div>
    </div>
  </nav>

  <partial name="_CookieConsentPartial" />

  <div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
      <p>&copy; 2023 - StackFlow</p>
    </footer>
  </div>

  <bold-script-manager></bold-script-manager>
  @RenderSection("Scripts", required: false)
</body>

</html>